<!-- <nav class=" navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class=" container-fluid">
    <div class=" navbar-collapse" [ngbCollapse]="isCollapsed" id="navigation">
      <ul class=" navbar-nav ml-auto">
        <li class=" search-bar input-group">
          <button class="btn btn-link" data-target="#searchModal" data-toggle="modal" (click)="open(content)"
            id="search-button">
            <i class=" tim-icons icon-zoom-split"> </i>
            <span class=" d-lg-none d-md-block"> PRETRAZI </span>
          </button>
        </li>
        <li class=" separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-header">
    <input #searchTerm class="form-control" id="inlineFormInputGroup" placeholder="PRETRAZI" type="text"
      (keyup)="search(searchTerm.value)" />

    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modal.dismiss('Cross click')">
      <i class=" tim-icons icon-simple-remove"> </i>
    </button>
  </div>

</ng-template> -->